/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
	box-sizing: border-box;
}
/*
	2. Remove default margin
  */
* {
	margin: 0;
}
/*
	Typographic tweaks!
	3. Add accessible line-height
	4. Improve text rendering
  */
body {
	line-height: 1.3;
	-webkit-font-smoothing: antialiased;
}
/*
	5. Improve media defaults
  */
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}
/*
	6. Remove built-in form typography styles
  */
input,
button,
textarea,
select {
	font: inherit;
}
/*
	7. Avoid text overflows
  */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}
/*
	8. Create a root stacking context
  */
#root,
#__next {
	isolation: isolate;
}

html {
	scroll-behavior: smooth;
}

body {
	width: 100%;
	min-height: 100vh;

	display: flex;
	justify-content: center;

	font-family: 'Montserrat', sans-serif;
	color: #1b262c;
}

div.contents {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

	flex: 1;
	width: 100%;
	height: 100%;
}

header.navbar {
	width: 100%;

	padding-inline: 6rem;
	padding-block: 1.5rem;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;

	background-color: white;

	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	z-index: 999;

	box-shadow: 0 4px 15px rgba(0, 0, 0, 0.08);
}

header.navbar .nav-content-wrapper {
	max-width: 1200px;

	display: flex;
	align-items: center;
	justify-content: space-around;
	flex: 1;
}

header.navbar .nav-logo {
	font-size: 2rem;
	font-weight: bold;
	font-style: italic;
	color: #0f4c75;

	flex: 1;
}

header.navbar .nav-menus {
	display: flex;
	align-items: center;

	gap: 2rem;
}

header.navbar .nav-menus .nav-menu {
	text-decoration: none;
	font-weight: 600;

	font-size: 1.1rem;
	color: #1b262c;
}

main {
	max-width: 1490px;

	padding-block: 3rem;
	padding-inline: 6rem;

	display: flex;
	gap: 12rem;
	flex-direction: column;
}

article.section {
	display: flex;
	align-items: center;
	max-width: 1200px;
	max-height: 1000px;
	scroll-margin-top: 7.5rem;
}

article.section.hero .hero-content {
	display: flex;
	justify-content: center;
	align-items: center;
}

article.section.hero .hero-main {
	display: flex;
	flex: 2;
	flex-direction: column;
	gap: 1.5rem;
}

.hero-main .hero-title {
	text-transform: uppercase;
	font-size: 2.9rem;
	font-weight: bold;
}

.hero-main .hero-title span {
	color: #0f4c75;
}

.hero-main .hero-description {
	font-size: 1.2rem;
	line-height: 1.8rem;
}

.hero-main .hero-action-btn {
	display: flex;
	gap: 1.5rem;
}

.hero-action-btn button {
	padding-block: 0.8rem;
	padding-inline: 1.8rem;

	font-size: 1.3rem;
	font-weight: bold;

	border-radius: 999px;

	cursor: pointer;
}

.main-action-btn {
	color: white;
	background-color: #3282b8;

	border: none;
	box-shadow: 0 0 30px 5px rgba(15, 76, 117, 0.2);
}

.secondary-action-btn {
	color: #1b262c;
	background-color: white;
	border: 1px solid #1b262c;
}

article.section.hero .hero-img {
	width: 500px;
}

.section-title {
	margin-bottom: 1rem;

	text-align: center;
	font-size: 2rem;
	color: #3282b8;
	font-weight: bold;
}

.section-title.about {
	margin-bottom: 0.5rem;
}

.about-main {
	display: flex;
	gap: 2rem;
}

.about-main .about-main-img {
	width: 500px;
}

.about-main .about-main-text {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 1rem;
}

.about-main-text .about-main-title {
	font-weight: bold;
	font-size: 2.9rem;
}

.about-main-title span {
	color: #0f4c75;
}

.about-main-text .about-main-desc {
	line-height: 1.8rem;
	font-size: 1.1rem;
}

.skill-content {
	width: 100%;
}

.section-title.skill {
	margin-bottom: 4rem;
}

.skill-list-wrapper {
	margin-top: 3rem;
	display: flex;
	justify-content: space-between;
	gap: 5rem;
}

.skill-list {
	max-width: fit-content;
	display: flex;
	flex-direction: column;
	gap: 0.2rem;
}

.skill-list .icon-skill {
	width: 150px;
	padding: 1.7rem;
	background-color: #bbe1fa;

	display: flex;
	justify-content: center;
	align-items: center;

	border-top-left-radius: 50px;
	border-top-right-radius: 50px;
}

.skill-list .icon-skill.figma img {
	width: 64.5px;
}

.skill-list .skill-progress {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.skill-list progress {
	display: block;
	width: 100%;
	height: 2rem;

	accent-color: #bbe1fa;
	background: rgb(229, 229, 229);

	border: 0;
	border-radius: 999px;
}

.skill-list progress::-moz-progress-bar {
	background: lightblue;

	border: 0;
	border-radius: 999px;
}

.skill-list progress::-webkit-progress-value {
	background: lightblue;

	border: 0;
	border-radius: 999px;
}

.skill-list progress::-webkit-progress-bar {
	background: rgb(203, 203, 203);

	border: 0;
	border-radius: 999px;
}

.skill-list .skill-persentase {
	text-align: end;
	font-size: 1rem;
}

.skill-list .skill-name {
	text-align: center;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 1.3rem;
}

.services-content {
	width: 100%;
}

.section-title.services {
	font-size: 2rem;
	margin-bottom: 0.5rem;
}

.services-main {
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.services-main .services-desc {
	font-size: 2.5rem;
	font-weight: bold;

	margin-bottom: 1rem;
}

.services-desc span {
	color: #0f4c75;
}

.services-main .services-text {
	width: 1000px;

	text-align: center;
	line-height: 1.8rem;
	font-size: 1.1rem;

	margin-bottom: 2rem;
}

.service-list-wrapper {
	width: 85%;

	display: flex;
	justify-content: space-between;
}

.service-list-wrapper .service-list {
	width: 280px;
	padding: 1.5rem 1.5rem;
	line-height: 1.8rem;

	box-shadow: 0px 4px 30px 5px #0f4c751a;
	border-radius: 10px;
}

.service-list .service-list-title {
	text-align: center;
	font-weight: bold;
	font-size: 1.3rem;

	margin-bottom: 0.8rem;
}

.testimonial-content {
	width: 100%;
}

.section-title.testimonial {
	margin-bottom: 0.5rem;
}

.testimonial-main {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 2.5rem;
}

.testimonial-title {
	text-align: center;
	font-size: 2.5rem;
	font-weight: bold;
}

.testimonial-title span {
	color: #0f4c75;
}

.testimonial-group-wrapper {
	display: flex;
	justify-content: space-between;
}

.testimonial-group-wrapper .testimonial-item {
	width: 340px;
	padding: 1.5rem 2rem;

	box-shadow: 0px 4px 30px 5px #0f4c751a;
	border-radius: 10px;

	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.testimonial-item .testimonial-text {
	line-height: 1.6rem;
}

.testimonial-item .testimonial-info {
	display: flex;
	gap: 1rem;
	align-items: center;
	justify-content: start;
}

.testimonial-info .customer-info {
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: start;
	gap: 0.4rem;
}

.customer-info .rating {
	display: flex;
	gap: 0.4rem;
}

.customer-info .identity {
	line-height: 1.4rem;
}

.identity .name {
	font-weight: bold;
	font-size: 1rem;
	color: #3282b8;
}

.identity .company {
	font-weight: bold;
	font-size: 0.8rem;
}

.portfolio-content {
	flex: 1;
}

.section-title.portfolio {
	text-align: center;
	margin-bottom: 2.5rem;
}

.portfolio-main {
	width: 100%;
	display: flex;
	justify-content: space-between;
	gap: 3rem;
	align-items: center;
	flex-wrap: wrap;
}

.portfolio-main .portfolio-item {
	display: flex;
	flex-direction: column;
	gap: 0.7rem;
}

.portfolio-item .portfolio-text {
	display: flex;
	flex-direction: column;
	gap: 0.3rem;
	font-size: 1.1rem;
}

.portfolio-text .portfolio-name {
	font-weight: bold;
}

.portfolio-text .portfolio-category {
	font-weight: bold;
	color: #3282b8;
}

.contact-content {
	width: 100%;
	height: fit-content;

	display: flex;
	align-items: center;
	justify-content: center;

	border-radius: 20px;
	box-shadow: 0 0 30px 5px rgba(15, 76, 117, 0.15);
}

.contact-info,
.contact-form {
	padding: 2.5rem;
	min-height: 612px;
}

.contact-info {
	flex: 1 400px;

	border-bottom-left-radius: 20px;
	border-top-left-radius: 20px;

	background-color: #bbe1fa;
}

.contact-info .section-title.contact {
	text-align: start;
}

.contact-info .contact-desc {
	font-size: 1.1rem;
	line-height: 1.6;

	margin-bottom: 2rem;
}

.contact-info .contact-extra-info {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.contact-info .contact-extra-item {
	display: flex;
	align-items: center;
	gap: 0.8rem;

	font-size: 1.1rem;
}

.contact-form {
	flex: 2 400px;

	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;

	background-color: #0f4c75;
}

.contact-form form {
	display: flex;
	flex-direction: column;
	gap: 1.5rem;
}

.contact-form .form-group {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}

.form-group .form-control {
	display: flex;
	flex-direction: column;
	gap: 0.4rem;
}

.form-control label {
	font-weight: bold;
	font-size: 1.2rem;
	color: #bbe1fa;
}

.form-control .input-box {
	position: relative;
}

.input-box .input-logo {
	position: absolute;
	top: 0.5rem;
	left: 1rem;
}

.form-control input {
	width: 100%;
	padding: 1rem 1rem;
	padding-left: 4.5rem;

	border: none;
	border-radius: 4px;
	font-size: 1.1rem;
}

.form-control textarea {
	padding: 1.2rem;

	width: 100%;
	height: 200px;

	font-size: 1.1rem;

	resize: none;
	border-radius: 4px;
}

.contact-form button {
	padding: 1rem;
	background-color: #bbe1fa;

	font-weight: bold;
	font-size: 1.3rem;
	color: #1b262c;

	cursor: pointer;

	border-radius: 999px;
	border: none;
	box-shadow: 0px 4px 30px 15px #0f4c751a;
}

footer {
	margin-top: 2rem;
	padding-inline: 6rem;
	padding-block: 4rem;

	width: 100%;
	min-height: 40vh;

	display: flex;
	justify-content: center;

	border-top: 1px solid #1b262c55;
}

.footer-content {
	width: 100%;
	max-width: 1200px;
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

.footer-content .top {
	display: flex;
	justify-content: space-between;
}

.footer-group-info {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.footer-group-info .footer-logo {
	font-weight: bold;
	font-size: 2rem;
	font-style: italic;
	color: #0f4c75;
}

.footer-group-info .footer-info {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
	font-size: 1.1rem;
}

.footer-links-group {
	display: flex;
	gap: 3rem;
}

.footer-links-group .links-item {
	display: flex;
	flex-direction: column;
	gap: 1.3rem;
}

.links-item h3 {
	font-size: 1.5rem;
}

.links-item .link-group {
	display: flex;
	gap: 0.7rem;
}

.links-item .link-group a {
	font-size: 1.1rem;
	text-decoration: none;
	color: #1b262c;
}

.footer-links-group .link-group {
	display: flex;
	flex-direction: column;
}

.footer .bottom {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex: 1;
}

.footer .follow-link {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.footer .copyright-section {
	font-size: 1.1rem;
	font-weight: bold;
}
